post-saml.yaml
output
package-lock.json
.vscode
_*
boto3-1.4.4.dist-info/
boto3/
botocore-1.5.95.dist-info/
botocore/
certifi-2017.11.5.dist-info/
certifi/
chardet-3.0.4.dist-info/
chardet/
concurrent/
dateutil/
docutils-0.14.dist-info/
docutils/
future-0.16.0.dist-info/
future/
futures-3.1.1.dist-info/
html/
http/
idna-2.6.dist-info/
idna/
jmespath-0.9.3.dist-info/
jmespath/
libfuturize/
libpasteurize/
oauthlib-2.0.6.dist-info/
oauthlib/
past/
python_dateutil-2.6.1.dist-info/
python_twitter-3.3.dist-info/
requests-2.18.4.dist-info/
requests/
requests_oauthlib-0.8.0.dist-info/
requests_oauthlib/
s3transfer-0.1.11.dist-info/
s3transfer/
six-1.11.0.dist-info/
six.py
six.pyc
tkinter/
twitter/
urllib3-1.22.dist-info/
urllib3/
xmlrpc/
